@model Hotel_Management_System.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ActionName = GlobalVariables.VIEWSHANDLER().ToString();
}

<br />
<div class="container">

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Customer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Customer_First_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer_First_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer_Last_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer_Last_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer_Email_Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer_Email_Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer_Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer_Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.No__of_Peoples)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.No__of_Peoples)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <br />
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <br />
                <br />
                @Html.ActionLink("Back to List", ActionName, new { area = "" }, new { @class = "btn btn-primary" })
                <br />
                <br />
                @Html.ActionLink("Back-to-Main-Customers-List", ActionName, "CUSTOMERS_VIEW", new { area = "" }, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
</div>