@model IEnumerable<Hotel_Management_System.Models.CUSTOMERS_VIEW>

@{
    ViewBag.Title = "Indexx";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ActionName = GlobalVariables.VIEWSHANDLER().ToString();
}
<br />
<div class="container container-fluid">
    <div class="row">
        @*<p>
            @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "btn btn-danger mr-1" })
        </p>*@
        <h2>
            Want to update Customers's Data?
        </h2>
        <p>
            @Html.ActionLink("Update Customers", ActionName, "Customers", new { area = "" }, new { @class = "btn btn-success mr-1" })
        </p>
        <div class="container search-table">
            <div class="search-box">
                <div class="row">
                    <div class="col-md-6">
                        <center>
                            <h5 style="margin-top: 8px;">Search All Fields of Table's Data:</h5>
                        </center>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Search all fields of table's data">
                        <script>
                            $(document).ready(function () {
                                $("#myInput").on("keyup", function () {
                                    var value = $(this).val().toLowerCase();
                                    $("#myTable tr").filter(function () {
                                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                    });
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="myTable" class="table table-dark table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer_First_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer_Last_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer_Email_Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer_Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.No__of_Peoples)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Customer_Phone_No_s)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Username)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Password)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer_First_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer_Last_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer_Email_Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer_Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.No__of_Peoples)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer_Phone_No_s)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Password)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.Customer_ID }, new { @class = "btn btn-warning mr-1" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>