@model Hotel_Management_System.Models.Reservation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ActionName = GlobalVariables.VIEWSHANDLER().ToString();
}

<br />
<div class="container">

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Reservation</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Date_In)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date_In)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date_Out)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date_Out)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Days_Interval_of_Stay)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Days_Interval_of_Stay)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.Customer_First_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.Customer_First_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer1.Customer_First_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer1.Customer_First_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Transaction.Transaction_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Transaction.Transaction_Name)
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.Transaction1.Transaction_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Transaction1.Transaction_Name)
            </dd>*@

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <br />
                <br />
                @Html.ActionLink("Back to List", ActionName, new { area = "" }, new { @class = "btn btn-primary" })
                <br />
                <br />
                @Html.ActionLink("Back-to-Main-Customers-List", ActionName, "CUSTOMERS_VIEW", new { area = "" }, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
</div>